@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>krpano - jp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <link href="~/Content/vrshow.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/test.js"></script>
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            overflow: hidden;
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: #FFFFFF;
            background-color: #000000;
        }
    </style>
</head>
<body>
    <script src="~/Krpano/vtour/tour.js"></script>
    @*<form id="test">
        <label for="planet">是否开启小行星</label>
        <input type="checkbox" name="islittleplanet" id="planet" checked value="true" /><br>
        <label for="radio">特效</label>
        金钱<input type="radio" name="effect" id="radio" value="money" /><br>
        金星<input type="radio" name="effect" id="radio" value="goldenstars" /><br>
        爱心<input type="radio" name="effect" id="radio" value="hearts" /><br>
        <input onclick="save()" value="提交" />
        <span>添加天空遮罩</span>
        <input onclick="showWebVR()" value="进入VR的切换按钮" />
    </form>*@
    <div id="fullscreenid" style="position:relative;width:100%; height:100%;">
        <div id="panoBtns" style="display:none">
            <div class="vrshow_container_logo">
                <img id="logoImg" src="~/Static/custom_logo.png">

                <div class="vrshow_logo_title" id="user_name_wrap">
                    <div id="authorDiv">作者：<span id="user_nickName">ddd</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="vrshow_logo_title" id="user_name_wrap">
                    <div id="authorDiv">人气：<span id="user_nickName">11</span></div>
                    <div style="clear:both;"></div>

                </div>
            </div>
            <div class="vrshow_container_1_min">
                <!--  插件加载 -->
                <div class="btn_fullscreen" onClick="fullscreen(this)" title=""></div>
                <div class="btn_vrmode" onClick="pauseMusic(this)"></div>
                <div class="btn_bgmusic" onClick="pauseMusic(this)"></div>
                <div class="btn_music" onClick="pauseSpeech(this)"></div>
                <div class="btn_gyro" onClick="toggleGyro(this)"></div>
                <a class="btn_music" onclick="showthumbs()"></a>
                <a class="btn_comment" onclick="addHotSpot()"></a>
                <a class="btn_comment" onclick="openGyro()"></a>
            </div>
    <div class="vrshow_radar_btn">
        <!-- <span class="btn_sand_table_text">沙盘</span> -->
            </div>
            @*<div class="vrshow_tour_btn" onClick="startTourGuide()">
                <span class="btn_tour_text">一键导览</span>
            </div>*@
            <div class="vrshow_container_2_min">

            </div>
            <div class="vrshow_container_3_min">
                <div class="img_desc_container_min scene-choose-width" >
                    <img src="/Static/vr-btn-scene.png" onClick="showthumbs()">
                    <div class="img_desc_min">场景选择</div>
                </div>
            </div>
        </div>
        <div id="pano" style="width:100%;height:100%;">

        </div>
    </div>
</body>
</html>
